<mat-card>
    <form (submit)="onSubmitForm()" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="fName" ngModel required minlength="5" placeholder="First Name" #fName="ngModel">
            <mat-error *ngIf="fName.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="lName" ngModel required minlength="5" placeholder="Last Name" #lName="ngModel">
            <mat-error *ngIf="lName.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" name="DOB" ngModel required minlength="5" placeholder="Birthday" #dOB="ngModel">
            <mat-error *ngIf="dOB.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="gender" ngModel required minlength="5" placeholder="Gender" #gender="ngModel">
            <mat-error *ngIf="gender.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" name="email" ngModel required minlength="5" placeholder="Email" #email="ngModel">
            <mat-error *ngIf="email.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="phone" name="phone" ngModel required minlength="5" placeholder="Phone" #phone="ngModel">
            <mat-error *ngIf="phone.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="city" ngModel required minlength="5" placeholder="City" #city="ngModel">
            <mat-error *ngIf="city.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="state" ngModel required minlength="5" placeholder="State" #state="ngModel">
            <mat-error *ngIf="state.invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="zip" ngModel required minlength="5" placeholder="Zip Code" #zCode="ngModel">
            <mat-error *ngIf="zCode.invalid">Please enter a value</mat-error>
        </mat-form-field>
          <button
              mat-raised-button
              color="primary"
              type="submit">Save</button>
    </form>
</mat-card>
