<mat-card>
    <form [formGroup]="form" (submit)="onSubmitForm()">
        <mat-form-field>
            <input matInput type="text" name="fName"    placeholder="First Name" >
            <mat-error *ngIf="form.get('fName').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="lName"    placeholder="Last Name" >
            <mat-error *ngIf="form.get('fName').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" name="DOB"    placeholder="Birthday" >
            <mat-error *ngIf="form.get('lName').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="gender"    placeholder="Gender" >
            <mat-error *ngIf="form.get('gender').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" name="email"    placeholder="Email" >
            <mat-error *ngIf="form.get('email').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="phone" name="phone"    placeholder="Phone" >
            <mat-error *ngIf="form.get('phone').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="city"    placeholder="City" >
            <mat-error *ngIf="form.get('city').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="state"    placeholder="State" >
            <mat-error *ngIf="form.get('state').invalid">Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="zip"    placeholder="Zip Code" >
            <mat-error *ngIf="form.get('zip').invalid">Please enter a value</mat-error>
        </mat-form-field>
          <button
              mat-raised-button
              color="primary"
              type="submit">Save</button>
    </form>
</mat-card>
